volumes:
    db_data:
        driver: local
    a0_agents:
        driver: local
    a0_instruments:
        driver: local
    a0_knowledge:
        driver: local
    a0_memory:
        driver: local
    a0_prompts:
        driver: local

services:
    boneframework.docker:
        build:
            context: ./build
            dockerfile: ./httpd/Dockerfile
            args:
                DOMAIN_NAME: '${DOMAIN_NAME}'
        ports:
            - 80:80
            - 443:443
        volumes_from:
            - app

    php:
        build:
            context: ./build
            dockerfile: ./php/Dockerfile
        ports:
            - 9000
        volumes_from:
            - app
        env_file: '.env'
        user: php:staff

    node:
        build: ./build/node
        volumes_from:
            - app
        ports:
            - 8080:8080
            - 3000:3000

    app:
        image: httpd:2.4.38
        volumes:
            - ./code:/var/www/html
            - /var/run/docker.sock:/var/run/docker.sock
            - a0_agents:/a0/agents
            - a0_instruments:/a0/instruments
            - a0_knowledge:/a0/knowledge
            - a0_memory:/a0/memory
            - a0_prompts:/a0/prompts
            - ./build/data/settings.json:/a0/tmp/settings.json
            - ../:/a0/usr/projects
        command: "echo true"

    mariadb:
        image: mariadb:10.7.1
        volumes:
            - ./build/data:/docker-entrypoint-initdb.d
            - db_data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
            MYSQL_USER: '${MYSQL_USER}'
            MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
        ports:
            - 3306:3306

    mail:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025

    agentzero:
        build: ./build/agentzero
        env_file:
          - .env
        ports:
            - 50080:80
        volumes_from:
            - app
